body{
    margin: 0%;
}
h1{
    background: darkred;
    padding: 2%;
    margin: 0px;
    font-size: 50px;
    font-weight: bolder;
    }
h2{
    border-bottom: 8px solid darkred;
    display: inline;
    padding-right: 2%;
}
a {
    color: darkred;

}
a:hover{
    color: blue;
}
footer {
    background: slategray;
    padding: 10px;
    color: darkred;
}
p{
    padding-bottom: 2%;
    padding-top: 2%;
}
.line{
    background: slategray;
    margin-top: 0%;
    margin-bottom: 2%;
    padding: 1%;
}